---
layout: default
---
<h3>{{ page.title }}</h3>

<div class="post_meta">
  <p>Written By Ed Botzum.</p>
  <p>Created at {{ page.created_at }}.  Last Updated at {{ page.updated_at }}</p>
</div>

<div class="post">
  <p>{{ content }}</p>
</div>

<div id='bottom_line'>
  <div id='article_list'>
    <h5>Recent Posts</h5>
    <ul>
    {% for post in site.posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a><br />Created {{ post.date | date_to_string }}.</li>
    {% endfor %}
    </ul>
  </div>
  <div>
    
  </div>
  <div id='blog_meta'>
    <h5>Meta</h5>
  </div>
</div>