<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href='/favicon.ico' rel='icon' type='image/vnd.microsoft.icon' />
  </head>

  <body id='page_name'>
    <a href="http://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
    <div id='header'>
      <div id='nav_bar'>
        <span id='nav_git_hub'><a href="/">ed botz</a></span>
        <span id='nav_repos'><a href="http://github.com/ebot">repos</a></span>
        <span id='nav_gist'><a href="http://gist.github.com/ebot">gists</a></span>
        <span id='nav_edbotz'><a href="http://edbotz.us">blog</a></span>
        <span id='nav_tumblr'><a href="http://edbotz.tumblr.com">tumblr</a></span>
        <span id='nav_twitter'><a href="http://twitter.com/ebot">twitter</a></span>
      </div>
      <h1>edbotz.github.com</h1>
    </div>
    <div id='content'>
      {{ content }}
    </div>
    <div id='footer'>
      Copyright 2008 edbotz.com
      <div>
        <a href="/">ed botz</a> | 
        <a href="http://github.com/ebot">repos</a> | 
        <a href="http://gist.github.com/ebot">gists</a> | 
        <a href="http://edbotz.us">blog</a> | 
        <a href="http://edbotz.tumblr.com">tumblr</a> | 
        <a href="http://twitter.com/ebot">twitter</a>
        <script type='text/javascript'>
          document.getElementById('page_name').id='git_hub'
        </script>
      </div>
    </div>
  </body>
</html>
