<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href='/favicon.ico' rel='icon' type='image/vnd.microsoft.icon' />
  </head>

  <body id='page_name'>
    <img src="../images/city_header.gif" width="800" height="300" alt="City Header">
    <div id="page">
      <div id='header'>
        <span id='nav_git_hub'><a href="/">about</a></span>
        <span id='nav_repos'><a href="http://github.com/ebot">code</a></span>
        <span id='nav_flickr'><a href="http://flickr.com/ebot">twitter</a></span>
        <span id='nav_twitter'><a href="http://twitter.com/ebot">twitter</a></span>
        <span id='nav_4for4'><a href="/4for4.html">4for4</a></span>
      </div>
      <div id='content'>
        {{ content }}
      </div>
      <div id='footer'>
        Copyright 2009 edbotz.com
      </div>
    </div>
  </body>
</html>
